
%h3.text-left About Us
%p1.lead.text-justify This is a Binghamton University Event Registration Web page. Inorder to use this service, you need to sign up or login ,then search for upcoming events and then register for the events.

%h3.text-left Mission
%p1.lead.text-justify The Union, which focuses on bringing students, teachers, staff, alumni, and visitors together, contributes to Binghamton University's social, educational, and cultural environment through supporting activities, embodying institutional spirit, and providing as an inclusive gathering space.


%h4.text-center
  = button_to "Register or Login with GitHub", '/auth/github', {:style => 'color:#005A30'}

